*{
	font-family: 'Open Sans', sans-serif;
}

body {
    background-image: url("images/red-background.jpg");
    background-size: cover;
    color: white;
    background-repeat: no-repeat;
}

h2{
	font-weight: lighter;
	text-align: center;
	font-size: 24px;
	margin-bottom: 10%;

}

.row{
	width:500px;
    height:300px;
    position:absolute;
    left:40%;
    top:40%;
    margin:-100px 0 0 -150px;
}

#input{
	margin-left: 50px;
}

.form{
	margin-left: 50px;
	border: dashed;
}

#submit-button{
	margin-top: 40px;
	margin-left: 150px;
	-webkit-border-radius: 6;
	-moz-border-radius: 6;
	border-radius: 6px;
	color: #ffffff;
	font-size: 20px;
	background: #000000;
	padding: 10px 20px 10px 20px;
}