html,
body {
  height: 100%;
  background-color: #333;
}

.start-but{
  position:absolute; bottom:0;  margin-bottom:300px; margin-right:130px; right: 0;
}

.middle-text{
  margin-top:50px;
  margin-bottom:30px;
}

.list-item-dark{
  background-color: #333;
}

.text-box{
  color: #111;
}

.player-list{
  display:inline-block;
  margin-left: 1120px;
  margin-top: 300px;
  border: solid;
  width: 200px;
  visibility:hidden;
}

.player-table{
  width: 50%;
  margin: 0 auto; 
  display:inline-block;
  white-space: nowrap;
  visibility:hidden;
}

.table {
    border: none;
    visibility:hidden;
}

#score-display{
  position:relative;
  top:0;  
  margin-top:10px; 
  margin-right:10px; 
  right: 20px;
  visibility:hidden;
}

#score-box{
  background-color: #000;
  width: 150px;
  height: 40px;
  position:relative;
  left:280px;
  top: -45px;
  visibility:hidden;
}

#resistance-name{
  display:inline-block;
  position: relative;
  right: 100px;
  visibility:hidden;
}

#spy-name{
  display:inline-block;
  position: relative;
  left: 100px;
  visibility:hidden;
}

#resistance-score{
  display:inline-block;
  font-size: 40px;
  position:relative;
  top:-10px;
  right:20px;
  visibility:hidden;
}

#dash{
  display:inline-block;
  font-size: 40px;
  position:relative;
  top:-10px;
  visibility:hidden;
}

#spy-score{
  display:inline-block;
  font-size: 40px;
  position:relative;
  top:-10px;
  left:20px;
  visibility:hidden;
}

#missions-box{
  position:relative;
  top: -80px;
  margin-top: 50px;
  margin-left:5px;
  left: -500px;
  visibility:hidden;
}

#mission-one-head{
  display:inline-block;
  position:relative;
  left: -20px;
  top:-10px;
  visibility:hidden;
}

#mission-one-circle{
  width: 50px;
	height: 50px;
	background: red;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	display:inline-block;
	visibility:hidden;

}

#mission-two-head{
  display:inline-block;
  position:relative;
  left: -20px;
  top:-10px;
  visibility:hidden;
}

#mission-two-circle{
  width: 50px;
	height: 50px;
	background: blue;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	display:inline-block;
	visibility:hidden;
}

#mission-three-head{
  display:inline-block;
  position:relative;
  left: -20px;
  top:-10px;
  visibility:hidden;
}

#mission-three-circle{
  width: 50px;
	height: 50px;
	background: red;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	display:inline-block;
	visibility:hidden;
}

#mission-four-head{
  display:inline-block;
  position:relative;
  left: -20px;
  top:-10px;
  visibility:hidden;
}

#mission-four-circle{
  width: 50px;
	height: 50px;
	background: blue;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	display:inline-block;
	visibility:hidden;
}

#mission-five-head{
  display:inline-block;
  position:relative;
  left: -20px;
  top:-10px;
  visibility:hidden;
}

#mission-five-circle{
  width: 50px;
	height: 50px;
	background: red;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	display:inline-block;
	visibility:hidden;
}

#card{
  background-color: #ccc;
  background-image: url("images/playcard-background.jpg");
  background-size: cover;
  width : 130px;
  height : 170px;
  position:absolute; 
  top:0;  
  margin-top:70px; 
  margin-right:100px; 
  right: 0;
  box-shadow: 5px 5px 3px black;
  border-radius: 5px;
  visibility:hidden;
}

.card-text{
  position:absolute;
  top:0;  
  margin-top:260px; 
  margin-right:120px; 
  right: 0;
  visibility:hidden;
}