html,
body {
  height: 100%;
  background-color: #333;
}

.middle-text{
  margin-top:50px;
  margin-bottom:30px;
}

.list-item-dark{
  background-color: #333;
}

.list-item-light{
  background-color: #777;
}

.popups{
  margin-top:200px;
}

.mission-vote{
  visibility:hidden;
}

.text-box{
  color: #111;
  margin-bottom: 20px;
}

.player-list-gameplay{
  display:inline-block;
  position: absolute;
  top:0;  
  margin-top:400px; 
  margin-right:85px;
  right: 0;
  width: 200px;
}

.player-table{
  width: 50%;
  margin: 0 auto; 
  display:inline-block;
  white-space: nowrap;
}

.table {
    border: none;
}

.card-wrapper {
  display: none;
}

#score-display{
  position:relative;
  top:0;  
  margin-top:10px; 
  margin-right:10px; 
  right: 20px;
}

#score-box{
  background-color: #333;
  width: 150px;
  height: 40px;
  position:relative;
  left:280px;
  top: -45px;
}

#resistance-name{
  display:inline-block;
  position: relative;
  right: 100px;
}

#spy-name{
  display:inline-block;
  position: relative;
  left: 100px;
}

#resistance-score{
  display:inline-block;
  font-size: 40px;
  position:relative;
  top:-10px;
  right:20px;
}

#dash{
  display:inline-block;
  font-size: 40px;
  position:relative;
  top:-10px;
}

#spy-score{
  display:inline-block;
  font-size: 40px;
  position:relative;
  top:-10px;
  left:20px;
}

#missions-box{
  position:relative;
  top:-400px;
  margin-top: 50px;
  margin-left:5px;
  left: -500px;
}

#mission-one-head{
  display:inline-block;
  position:relative;
  left: -20px;
  top:-10px;
}

#mission-one-circle{
  width: 50px;
	height: 50px;
	background: #333;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	display:inline-block;

}

#mission-two-head{
  display:inline-block;
  position:relative;
  left: -20px;
  top:-10px;
}

#mission-two-circle{
  width: 50px;
	height: 50px;
	background: #333;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	display:inline-block;
}

#mission-three-head{
  display:inline-block;
  position:relative;
  left: -20px;
  top:-10px;
}

#mission-three-circle{
  width: 50px;
	height: 50px;
	background: #333;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	display:inline-block;
}

#mission-four-head{
  display:inline-block;
  position:relative;
  left: -20px;
  top:-10px;
}

#mission-four-circle{
  width: 50px;
	height: 50px;
	background: #333;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	display:inline-block;
}

#mission-five-head{
  display:inline-block;
  position:relative;
  left: -20px;
  top:-10px;
}

#mission-five-circle{
  width: 50px;
	height: 50px;
	background: #333;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	display:inline-block;
}

#Select-Mission {
  position: relative;
}

#pass-fail {
  display:none;
  position:relative;
  top: -350px;
}

#success {
  background-color: blue;
  width: 100px;
  height: 60px;
  position: relative;
  right:50px;
  font-weight: bold;
  color: white;
  display:inline-block;
}

#fail {
  background-color: red;
  width: 100px;
  height: 60px;
  position: relative;
  left:50px;
  font-weight: bold;
  color: white;
  display:inline-block;
}

#card{
  background-color: #ccc;
  background-image: url("images/playcard-background.jpg");
  background-size: cover;
  width : 130px;
  height : 170px;
  position:absolute; 
  top:0;  
  margin-top:70px; 
  margin-right:100px;
  right: 0;
  box-shadow: 5px 5px 3px black;
  border-radius: 5px;
}

#card-flip{
  background-color: #700000;
  background-size: cover;
  width : 130px;
  height : 170px;
  display: none;
  position:absolute; 
  top:0;  
  margin-top:70px; 
  margin-right:100px; 
  right: 0;
  box-shadow: 5px 5px 3px black;
  border-radius: 5px;
}

#playerList{
  height: 800px;
}

#vote-text{
  margin-bottom:30px;

}

#card-text{
  position:absolute;
  top:0;  
  margin-top:260px; 
  margin-right:120px; 
  right: 0;
}

#card-text-flip{
  margin-top: 10px;
  margin-left: 8px;
}

.waiting-room{
  display:auto;
}

.room{
  display:none;
}

